@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f0f0f0; /* Light background color */
}

.container {
    width: 90%; /* Adjust width as needed */
    max-width: 800px; /* Max width for larger screens */
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    overflow: hidden;
}

.container .box,
.container .overlay {
    width: 50%; /* Equal width for both boxes on larger screens */
    height: 100%;
    transition: transform 0.8s;
}

.container .overlay {
    background-color: #FF4167;
    transform: translateX(0); /* Initially hidden */
    z-index: 2;
}

.container.active .overlay {
    transform: translateX(-100%);
}

.container .box {
    background-color: #fff;
    transform: translateX(0); /* Initially shown */
    z-index: 1;
}

.container.active .box {
    transform: translateX(100%);
}

.container .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay .page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay .page h3,
.overlay .page p {
    color: #fff;
    margin-bottom: 15px;
}

.overlay .page p {
    font-weight: 600;
    font-size: 17px;
}

.btn {
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 550;
    background-color: transparent;
    padding: 12px 45px;
    border-radius: 22px;
    border: 1.5px solid #fff;
    cursor: pointer;
}

.form h3 {
    color: #222;
    font-size: 40px;
}

.form span {
    color: #3a3838;
}

#form_input .type {
    width: 90%; /* Adjust width as needed */
    max-width: 330px; /* Max width for larger screens */
    height: 48px;
    background-color: #eeedef;
    margin: 30px 0;
}

#form_input .type input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
}

#form_input .type input::placeholder {
    color: #a9a8a9;
}

#form_input .forgot {
    margin-bottom: 20px;
    font-weight: 500;
}

.bkg {
    background-color: #ff4167;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .container .box,
    .container .overlay {
        width: 100%;
        margin-top: 20px; /* Space between boxes on smaller screens */
    }
}
